html, body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
  color: #545454;
  background: #fafafa;
}

pre {
  padding: 10px;
  border-radius: 2px;
  background: #474949;
  color: #7f7f7f;
  overflow-x: scroll;
}

code {
  font-family: 'Consolas', monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
}

.pull--right { float: right; }

.posts {
  font-family: 'Merriweather', serif;
  margin-bottom: 30px;
}
  .posts img {
    max-width: 100%;
  }

.hr1 { 
  border: 1px solid #4CAF50;
}

.italic-text { 
  font-style: italic;
}

.active-nav-link {
  font-weight: bold;
  color: #0089ff !important;
  text-decoration: none !important;
}

a:link, a:visited {
  text-decoration: underline;
  color: #545454;
}

a:hover, a:active, a:hover > i {
  color: #0089ff;
}


.profile-pic {
  float: right;
  width: 25%;
  border-radius: 50%;
  margin: 15px;
}



.top-nav {
  background: rgba(255,255,255, 0.9);
  position: fixed;
  width: 100%;
  height: 50px;
}
  .top-nav a:link, a:visited {
    font-weight: bold;
    text-decoration: none;
  }

.top-nav-content {
  line-height: 50px;
  margin-left: 25px;
}

.banner-image {
  height: 270px;
  overflow: hidden;
}
.banner-image img { width: 100%; }

.body-content {
  margin: 0 auto;
  width: 700px;
}

.post-list-container {
  margin: 0 auto;
  width: 700px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
  
  .column {
    width: 33.3%;
    float: left;
  }

  .post-card {
    display: inline-block;
    width: 200px; 
    min-width: 200px;
    background: #fff;
    border: 1px solid #ddd;
    border-left: 6px solid #4caf50;
    box-shadow: 0 1px 10px #ddd;
    border-radius: 2px;
    margin: 4px;
    padding: 10px;
    min-height: 100px;
  }
    .post-card a {
      text-decoration: none;
    }
    .post-card h3 {
      margin: 0 0 3px;
    }
    .post-card .date {
      font-size: 12px;
      font-style: italic;
    }

.search {
  float: right;
  margin-right: 3px;
}
.search input {
  width: 200px;
  height: 25px;
  padding-right: 50px;
  padding-left: 7px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #545454;
}
.search button {
margin-left: -50px;
    height: 29px;
    width: 50px;
    background: #0089ff;
    color: #d2eaff;
    border: none;
    padding-top: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-appearance: none;
}
.search button:hover {
  background: #2c9dff;
}
.search button:active {
  background: #0075d9;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.hr-1 {
  height: 2px;
  background: #ddd;
  margin: 5px 0 5px 0;
}

.logout {
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  height: 29px;
  width: 100px;
  background: #585858;
  color: #c3c3c3;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  -webkit-appearance: none;
}
.post-create {
  cursor: pointer;
  height: 29px;
  width: 100px;
  background: #4CAF50;
  color: #ffffff;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  -webkit-appearance: none;
}

.logout:hover { background: #757575; }
.post-create:hover { background: #6fc772; }

.editor {
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #545454;
  width: calc(100% - 7px);
  height: 150px;
}

.form-error {
  color: #bd3b31;
}
.form-success { color: #4CAF50; }

.center--200 {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  margin-top: 100px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 3px;
  background: #ffffff;
}

.stretchy-pants { 
  width: 100% !important;
  float: none !important;
}

.action-group > a { float: right; }
.action-group > input { float: right; margin-left: 3px; }
.action-group { margin-bottom: 20%; }
form {
  font-family: 'Avenir Next', sans-serif;
}

form > input[type="text"], form > input[type="password"] {
  padding-left: 7px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #545454;
  width: calc(100% - 7px);
  margin-top: 10px;
}

form > input[type="checkbox"] {
  margin-top: 10px;
}

form > textarea {
  padding-left: 7px;
  margin-top: 10px;
  width: calc(100% - 7px);
}

form input[type="submit"] {
  cursor: pointer;
  margin-top: 10px;
  height: 35px;
  width: 100px;
  background: #0089ff;
  color: #d2eaff;
  border: none;
  font-size: 14px;
  padding-top: 5px;
  border-radius: 3px;
  -webkit-appearance: none;
}
form input[type="button"] {
  cursor: pointer;
  margin-top: 10px;
  height: 35px;
  width: 100px;
  background: #585858;
  color: #dadada;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  -webkit-appearance: none;
}
form input[type="button"]:hover { background: #757575; }
form input[type="submit"]:hover { background: #3fa6ff; }

.live-editor {
  max-height: 265px;
  overflow-y: scroll;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
}

.snackbar {
  bottom: 30px;
  background: rgba(76, 175, 80, 0.81);
  color: #fff;
  position: fixed;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 200px;
  right: 50px;
  box-shadow: 0 1px 10px #7b7b7b;
  visibility: hidden;
}
.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

div.block-picker { position: absolute !important; z-index: 100; }
.swatch--inner {
  background: #4CAF50;
  width: 26px;
  height: 16px;
  border-radius: 3px;
  align-self: center;
}
.swatch--inner:after { content: "Color"; padding-left: 34px; top: -1px; }
.swatch--outer {
  cursor: pointer;
  width: 30px;
  height: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
}
